/node_modules
/public/hot
/public/storage
/storage/*.key
vendor/aferrandini/phpqrcode/cache
/.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
/.tags
/.tags_sorted_by_file
/.env
/.htaccess
.phpunit.result.cache